# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Database
# =========================
db.sqlite3

# =========================
# Virtual environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Django
# =========================
media/
staticfiles/
*.log

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Frontend (React / Vite)
# =========================
node_modules/
dist/
.env.local

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

